
html {
    align-items: center;
    background-color: #2E3440;
    color: #2E3440;
    display: flex;
    font: 18px/1 "MesloLGS NF";
    height: 100%;
    justify-content: center;
}

body {
    background-color: #2E3440;
    box-shadow: 0px 0px 9px #1d1f2187;
    border-radius: 6px;
    color: #d8dee9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 15ch;
    min-width: 30px;
    padding: 3em;
}

p {
    margin: 0;
}

p span {
    color: #81A1C1;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:hover {
    font-weight: bold;
    color: #b48ead;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    column-gap: 2em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1em 0;
}


p #cursor {
    background-color: #81A1C1;
    animation: blink 1.5s infinite;
}

p #symbol {
    font: 22px/1 "MesloLGS NF"; 
}

@keyframes blink {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
}

